.cornertl {
    background-image: url("corner-top-left.svg");
}

.cornertr {
    background-image: url("corner-top-right.svg");
}

.cornerbl {
    background-image: url("corner-bottom-left.svg");
}

.cornerbr {
    background-image: url("corner-bottom-right.svg");
}